{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <title>{% block title %}
        <!-- Here is The Title -->
    {% endblock title %}</title>
</head>
<body>
    {% block content %}
        <!-- Here is The Body -->
    {% endblock content %}

    <!-- <script src="{% static 'js/scripts.js' %}"></script> -->

</body>
</html>